/url/cache
/.emacs.desktop
/auto-save-list
/network-security.data
/.session
/session.*
*.elc
CVS
.svn
*~
.cvsignore
.*.lock
/tramp
/TODO
/.org-id-locations
cookies
/newsticker
\#*
/elpa
/elpa-*
site-lisp/package/
/swank
/.mc-lists.el
/var
/.sqli_history
/frame-restore-parameters
/.achievements
/.bookmarks.el
/bookmarks
/history
/helm-adaptive-history
/thumbs/
/emms/
/.smex-items
/image-dired/
/eshell
/.cask/
/.sx/
/org-clock-save.el
/ditaa*.jar
/ido.last
/recentf
/viper
/projectile-bookmarks.eld
/projects
/anaconda-mode/
/.historian
/.uptimes.el
/rake.cache
/plantuml.jar
/magithub
.cache/
/forge-database.sqlite
**/transient
/.lsp-session-v1
/smex-items
/eln-cache/
/ido.last
/amx-items
/ac-comphist.dat
/plan.org
/request
recentf
amx-items
snippets/
backup/
/zull
bookmarks
projects
eaf/
/places
/projectile-bookmarks.eld
/issue.org
/plan.org
/tmp*
/org-roam.db
/test.txt
/abbrev_defs
/init-individual.el
url/
zull.el
/straight
.DS_Store
/elgrep-data.el
/packages.txt
/custom.el
/blink-search.db
**/init-z-test.el
**/tobe.el
/straight
blink-search.db