[submodule "site-lisp/aweshell"]
	path = site-lisp/aweshell
	url = https://github.com/manateelazycat/aweshell.git
[submodule "site-lisp/lsp-bridge"]
	path = site-lisp/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge.git
[submodule "site-lisp/deno-bridge"]
	path = site-lisp/deno-bridge
	url = git@github.com:manateelazycat/deno-bridge.git
[submodule "site-lisp/popweb"]
	path = site-lisp/popweb
	url = git@github.com:manateelazycat/popweb.git
[submodule "site-lisp/markmacro"]
	path = site-lisp/markmacro
	url = git@github.com:manateelazycat/markmacro.git
