/.cache/
/auto-save-list
/elpa
/eshell
/template/
/transient/
/custom.el
/GPE-Org
/gpe-u-setting.el
/gpe_basic_dev.org
/history
/places
/recentf
/zull
/backup
/snippets/
/tree-sitter/

.DS_Store
*.elc
*.pyc
*.*~
.*.*~
/abbrev_defs
/projectile-bookmarks.eld
/org-roam.db
